:root {
  --primary: #fea116;
  --light: #f1f8ff;
  --dark: #0f172b;
}

body {
  background-color: #fff;
  margin: 0px;
  padding: 0px;
}

.banner{
    background-image:url(./image/banner-1.jpg.jpg);
    height: 47rem;
    display: flex;
    background-size:cover ;
    overflow: hidden;
    margin: auto;
    align-items: center;
    color: white;
    margin-bottom: 120px;
}

.OurIndustry{
  background-image:url(./image/Our\ Industry.jpg);
  background-size:cover ;
  overflow: hidden;
  margin: auto;
  justify-content:center ;
  align-items: center;
  color: white;
  padding: 50px 0 50px 0;
}

.consult{
  background-image:url(./image/Our\ Industry.jpg);
  background-size:cover ;
  overflow: hidden;
  margin: auto;
  justify-content:center ;
  align-items: center;
  color: white;
  padding: 50px 0 50px 0;
}

.mamrgintop{
  margin-top: 120px;
}

.jpg {
  max-width: 100%;
}

/*--------*/

.limit-image {
  background-image: url(./Home/limit-bg.jpg);
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 100px;
  background-position: center;
  background-size: cover;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}


  
  @media (min-width: 992px) {
  .card-registration-2 .bg-grey {
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
  
  @media (max-width: 991px) {
  .card-registration-2 .bg-grey {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  }
  }
